.home{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__text-wrapper{
        text-align: center;
        justify-items: center;
        display: flex;

        h1{
            margin-top: 10%;
            color: var(--selected-theme-main-color);
            font-weight: 400;
            font-size: 7rem;
            line-height: 10rem;
            position: relative;
            font-family: "Inconsolata",consolas,monospace;
            overflow: hidden;
            white-space: nowrap;
            animation: typeanime 2.5s steps(30,end);
        }
    }
}

.button{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__home__div{
        padding-top: 15px;
    }

    &__home__button{
        padding: 10px 70px;
        border-radius: 2px;
        background-color: black;
        font-size: 1.5rem;
        color: var(--selected-theme-main-color);
        border: 1px solid var(--selected-theme-main-color);
        margin-left: 10px;
    }

    &__home__button:hover{
        transition: 0.5s;
        background-color: var(--selected-theme-main-color);
        color: black;

    }
}

.icons{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 20px;

    &__me{
        padding: 10px;
        color: var(--selected-theme-main-color);
        a{
            color: var(--selected-theme-main-color);
            text-decoration: none;
        }
    }
}

@media only screen and (max-width : 550px) {
    .home__text-wrapper h1{
        margin-top: 90px;
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media only screen and (min-width : 550px) and (max-width : 768px) {
    .home__text-wrapper h1{
        font-size: 4rem;
        line-height: 5rem;
    }
}
@media only screen and (min-width : 768px) and (max-width : 990px) {
    .home__text-wrapper h1{
        font-size: 5rem;
        line-height: 7rem;
    }
}

@keyframes typeanime {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}